* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: grey;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: white;
  font-size: 48px;
  font-weight: 500px;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 8px;

  color: #53565a;
  font-size: 20px;
  font-weight: 300px;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px #4484c4;
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.results .result a {
  width: 31%;
  height: 500px;
  margin: 10px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.result {
  width: 31%;
  height: 500px;
  margin: 10px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.result .imgbox {
  position: relative;
  width: 100%;
}

.result .imgbox img {
  position: absolute;
  width: 100%;
  display: block;
  transition: 0.5s;
}

.result .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 12px;
  background: #bbbbbb;
  transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41, 1.4);
  box-sizing: border-box;
  overflow: hidden;
}

.result:hover .content {
  width: 100%;
  height: 75%;
  left: 0;
  bottom: 0;
}

.content .info {
  margin: 10px 0 0;
  padding: 1em 1em;
  transform: translateY(2em);
  line-height: 1.3em;
  transition: 0.3s;
  text-align: justify;
  opacity: 0;
}

.result:hover .content .info {
  transform: translateY(0);
  opacity: 1;
}

.result:hover {
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  overflow-y: scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
}

.popup .content h2 {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
}

.popup .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.popup .content .rating {
  margin-bottom: 30px;
}

.popup .content.plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img {
  float: left;
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.popup .content .close {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;

  background-color: lightgrey;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.popup .content .season {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;

  background-color: lightgray;
  border: 8px;
  outline: solid;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.popup .content .season:hover {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;

  background-color: rgb(85, 84, 84);
  border: 8px;
  outline: solid;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.popup .content .episodes {
  display: flex;
  padding: 10px;
}

[data-theme="compact"] p,
p {
  margin: 0;
}
